- provide(:title,"Sign in")
%h1 Sign in

.row
  .span6.offset3
    = form_for(:session, url: sessions_path) do |session|
      
      =session.label :email
      =session.text_field :email
      
      =session.label :password
      =session.password_field :password
      
      =session.submit "Sign in", class: "btn btn-large btn-primary"
      
    %p
      New user?
      = link_to "Sign up now!", signup_path
