%li
  %span.content= wrap(micropost.content)
  %span="Posted #{time_ago_in_words(micropost.created_at)} ago."
  - if can? :destroy, micropost
    = render "shared/micropost_delete", micropost: micropost
